[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KenSyn"]
	path = KenSyn
	url = https://github.com/cran/KenSyn
[submodule "ZeBook"]
	path = ZeBook
	url = https://github.com/cran/ZeBook
